---
layout: base.njk
pagename: contact
meta_title: "Bay Cruise | Contact"
permalink: "docs/contact.html"
permalinkBypassOutputDir: true
nickname: "Contact"
---
{%- from "components/components.njk" import component -%}
{%- from "components/global-image.njk" import global_image -%}

<div class="md:mt-28"></div>

{{title}}
