<header class="text-center font-poppins text-base md:text-2xl text-light">
    {{params.sub_title}}
    <span class="block font-fair font-bold tracking-wider text-xl md:text-4xl text-text">{{params.title}}</span>
</header>