<header class="text-center font-poppins text-sm md:text-3xl text-light">{{params.sub_title}} <span class="block font-fair font-bold tracking-wider text-xl md:text-6xl text-text">{{params.title}}</span></header>