---
layout: base.njk
pagename: gallery
meta_title: "Bay Cruise | Gallery"
permalink: "docs/gallery.html"
permalinkBypassOutputDir: true
nickname: "Gallery"
---
{%- from "components/components.njk" import component -%}
{%- from "components/global-image.njk" import global_image -%}

<div class="md:mt-28 pt-6"></div>
<section class="max-w-6xl mx-auto">
    {{component('headings/section', content)}}
    <article class="py-10 px-4 grid grid-cols-1 md:grid-cols-3 gap-8 justify-items-center gallery">
        {% for item in content.images%}
            <div  href="{{item.src}}.{{item.types | last}}" class="block w-full shadow hover:shadow-lg cursor-pointer">
            {{global_image(item, classes='w-full image_frame sm:4:3')}}
            </div>
        {% endfor %}
    </article>
</section>