<footer class="bg-gray-800" aria-labelledby="footer-heading">
    <h2 id="footer-heading" class="sr-only">Footer</h2>
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <div class="grid lg:grid-cols-3 lg:gap-8">
            <div class="grid grid-cols-2 gap-8">
                <div>
                    <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                            Quick Links
                        </h3>
                    <ul role="list" class="mt-4 space-y-4">
                        <li>
                            <a href="/" class="text-base text-gray-300 hover:text-white">
                                    Home
                                </a>
                        </li>

                        <li>
                            <a href="/about" class="text-base text-gray-300 hover:text-white">
                                    About
                                </a>
                        </li>

                        <li>
                            <a href="/shchedule" class="text-base text-gray-300 hover:text-white">
                                    Schedule
                                </a>
                        </li>
                    </ul>
                </div>
                <div class="mt-12 md:mt-0">
                    <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase hidden md:block">
                            &nbsp;
                        </h3>
                    <ul role="list" class="mt-4 space-y-4">
                        <li>
                            <a href="/contact" class="text-base text-gray-300 hover:text-white">
                                    Contact
                                </a>
                        </li>
                        <li>
                            <a href="/services" class="text-base text-gray-300 hover:text-white">
                                    Services
                                </a>
                        </li>
                        <li>
                            <a href="/refund-policy" class="text-base text-gray-300 hover:text-white">
                                    Refund Policy
                                </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="mt-8 xl:mt-0 lg:col-span-2">
                <h3 class="text-sm font-semibold text-gray-400 tracking-wider uppercase">
                    Contact
                </h3>
                <div class="grid md:grid-cols-2 gap-8">
                    <div>
                        <p class="mt-4 text-base text-gray-300">
                            Cox's Bazar Office:
                        </p>
                        <p class="mt-1 text-base text-gray-300">
                            Shugondha Point, Beside of Hotel Silver Bay, <br/> New Beach Rd, Cox's Bazar - 4700
                        </p>
                        <p class="mt-1 text-base text-gray-300 py-2">
                            <a href="tel:+8801826191509" class="transition duration-500 ease-in-out px-2 py-1 text-base text-white no-underline flex items-center">
                                <img src="images/phone.svg" height="16" width="16" class="w-4 h-4"> &nbsp; 01826-191509
                            </a>
                            <a href="tel:+8801818774311" class="transition duration-500 ease-in-out px-2 py-1 text-base text-white no-underline flex items-center">
                                <img src="images/phone.svg" height="16" width="16" class="w-4 h-4"> &nbsp; 01818-774311
                            </a>
                        </p>
                    </div>
                    <div>
                        <p class="mt-4 text-base text-gray-300">
                            Dhaka Office:
                        </p>
                       
                        <p class="mt-1 text-base text-gray-300 py-2">
                            <a href="tel:+8801779181872" class="transition duration-500 ease-in-out px-2 py-1 text-base text-white no-underline flex items-center">
                                <img src="images/phone.svg" height="16" width="16" class="w-4 h-4"> &nbsp; 01779-181872
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-8 border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
            <div class="flex space-x-6 md:order-2">
                <a href="https://www.facebook.com/Bay-Cruise-103232501157259" class="text-gray-400 hover:text-gray-300" target="_blank">
                    <span class="sr-only">Facebook</span>
                    <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                            clip-rule="evenodd"/>
                    </svg>
                </a>                
            </div>
            <p class="mt-8 text-base text-gray-400 md:mt-0 md:order-1">
                &copy; 2021 Farhan Tourism, Inc. All rights reserved.
            </p>
        </div>
    </div>
</footer>