---
pagename: base
meta_title: Skipper
meta_description: Some description here
---
<!DOCTYPE html>
<html lang="en">

<head>


    <!-- start Google Analytics -->
    {% if ga_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ga_id}}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', '{{ga_id}}');
    </script>
    {% endif %}
    <!-- end Google Analytics -->
    <meta charset="utf-8" />
    <meta name="keywords"
    content="Bay Cruise, Baycuise, Bay-Cruise, Ship, জাহাজ, travel, tours, Ship ticketing, bdcruise, cruise ship, luxury cruise ship, luxury cruise ship in bd, Cruise ship - Ship class, bay one cruise, bay cruise ship, bay one cruise ship, teknaf to saint martin, Cox's Bazar" />
    <meta name="description" content="Teknaf To Saint Martin Island Cruise Tour" />
    <meta name="theme-color" content="#1b2445" />

    {% if meta_description %}
    <meta name="description" content="{{meta_description}}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    <link rel="icon" href="./favicon.ico">
    <!-- start critical css -->
    {% if critical_css %}
    <style>
        {
                {
                critical_css | include
            }
        }
    </style>
    {% endif %}
    <!-- end critical css -->
    <!-- start sync css -->
    {% if sync_css %}
    <link rel="stylesheet" type="text/css" href="{{sync_css}}">
    {% endif %}
    <!-- end sync css -->
    <!-- start font preloads -->
    {% if data.preload_fonts %}
    {% for font in data.preload_fonts %}
    <link rel="preload" href="{{font.href}}" as="font" type="{{font.type}}" crossorigin>
    {% endfor %}
    {% endif %}
    <!-- end font preloads -->
    <!-- start scripts -->
    {% if defer_js %}
    <script src="{{defer_js}}" defer></script>
    {% endif %}
    {% if async_js %}
    <script src="{{async_js}}" async></script>
    {% endif %}
    {% if sync_js %}
    <script src="{{sync_js}}"></script>
    {% endif %}
    {% if module_js %}
    <script src="{{module_js}}" type="module"></script>
    {% endif %}
    <!-- end scripts -->

      <!-- twitter -->
  <meta name="twitter:card" content="M.V. Bay Cruise | Ship" />
  <meta name="twitter:site" content="@cruise-ship" />
  <meta name="twitter:title" content="Bay Cruise" />
  <meta name="twitter:description" content="Teknaf To Saint Martin Island Cruise Tour" />
  <meta name="twitter:image" content="https://www.bay-cruises.com/images/logo.png" />

    <!-- facebook and other social sites -->
  <meta property="og:title" content="M.V. Bay Cruise | Ship " />
  <meta property="og:site_name" content="Bay Cruise" />
  <meta property="og:description" content="Teknaf To Saint Martin Island Cruise Tour" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://www.bay-cruises.com/images/logo.png" />
  <meta property="og:url" content="https://www.bay-cruises.com/" />
  <meta property="og:image:width" content="500" />
  <meta property="og:image:height" content="300" />
  <meta property="fb:app_id" content="329606335394853" />
  <!-- facebook and other social sites -->
</head>

<body class="preload page-{{pagename}}">
    {% include "_page-header.njk" %}
    {{content | safe}}
    {% include "_page_footer.njk" %}
    <script>
        document.body.classList.remove("preload");
        // start navbar dropdown
        const flyout_btn = document.querySelectorAll('.flyout-btn ');
        flyout_btn.forEach(el => {
            const parent = el.parentElement.querySelector('.flyout');
            parent.classList.add('hidden');
            el.addEventListener('click', function () {
                parent.classList.toggle('hidden');
            })
        })
        const burger_menu = document.querySelectorAll('.burger-menu');
        const flyby_mobile = document.querySelector('.flyby-mobile');
        flyby_mobile.classList.toggle('hidden');
        burger_menu.forEach(bm => {
            bm.addEventListener('click', function () {
                flyby_mobile.classList.toggle('hidden');
            })
        })
        // end navbar dropdown
    </script>
</body>

</html>