:root {
    /* base 1:1 aspect ratio */
    --n: 1;
    --d: 1;
}

.image_frame {
    /* aspect-ratio: var(--d) / var(--n); */
    padding-top: calc((var(--n) / var(--d)) * 100%);
    position: relative;
    display: block;
}

.image_frame > * {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_frame > img,
.image_frame > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 320px) {
    /* sm breakpoint aspect ratios */
    .sm\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }

    .sm\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }
    .sm\:1\:2 {
        /* 1:2 */
        --d: 1;
        --n: 2;
    }

    .sm\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }

    .sm\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }

    .sm\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }

    .sm\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }

    .sm\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }
    .sm\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }
}
@media (min-width: 768px) {
    /* md: '768px'  */
    .md\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }
    .md\:1\:2 {
        /* 1:2 */
        --d: 1;
        --n: 2;
    }
    .md\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }
    .md\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }
    .md\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }
    .md\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }
    .md\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }
    .md\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }
    .md\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }
}
@media screen and (min-width: 976px) {
    /* lg: '976px', */
    .lg\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }
    .lg\:1\:2 {
        /* 1:2 */
        --d: 1;
        --n: 2;
    }
    .lg\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }
    .lg\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }
    .lg\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }
    .lg\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }
    .lg\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }
    .lg\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }
    .lg\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }
}

@media screen and (min-width: 1440px){
    /* xl: '1440px', */
    .xl\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }
    .xl\:1\:2 {
        /* 1:2 */
        --d: 1;
        --n: 2;
    }    
    .xl\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }
    .xl\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }
    .xl\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }
    .xl\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }
    .xl\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }
    .xl\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }    
    .xl\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }
}
