/* colors */
:root {
    --color__primary: #33c8c6;
    --color__secondary: #efefef;
    --color__anchor: #0099ff;
    --color__text: #19232f;
    --color__text-light: #666666;
    --color__text-dark: #000000;
    --color__contrast: #ffe701;
}
/* fonts */
:root {
    --base-font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320))); /* 14px - 18px */
}